* {
  margin:0;
  box-sizing: border-box;
}

body {
  color: #F5DF4D;
  font-size: 16px;
  background: url("/img/narutofd.jpg");
  font-family: "Syne", sans-serif;
}

li {
  text-decoration: none;
}

/**HEADER**/
#header-nav {
  background: #5F4B8B;
}

#nav-list {
  font-size: 1.25em;
}

#phone {
  font-size: 1.25em;
}

.navbar-brand {
  padding-top: 0;
  padding-bottom: 0;
}

#navbarNavDropdown a {
  text-decoration: none;
}

button a {
  text-decoration: none;
}

.dropdown-menu {
  background: #F5DF4D;
  color:#5F4B8B;
}

.dropdown-menu a:hover {
  background: #5F4B8B;
  color:#F5DF4D;  
}

@media (max-width: 576px) {
  #phone {
    margin-bottom: 8px;
  }
  .foot-title, .foot-text {
    text-align: center;
  }
  #redes {
    justify-content: center;
  }
  #Account{
    margin-top: 8px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  #phone {
    margin-bottom: 8px; 
  }
  #redes {
    justify-content: center;
  }
  .foot-text {
    text-align:center;
  }
  .foot-title {
    text-align: center;
  }
  #Account{
    margin-top: 8px;
    margin-left: auto;
    margin-right: auto;
  }
}

/**CONTENT**/
.card {
  background: #5F4B8B;
  border: 2px solid #5F4B8B;
}

#Ofertas {
  font-size: 2em;
  font-weight: 700;
  color: #F5DF4D;
  background: #5F4B8B;
  text-align: center;
  padding: 8px;
}

/**FOOTER**/
footer {
  background: #5F4B8B;  
}
.foot-title {
  font-size: 1.5em;
  font-weight: 600;
  color: #F5DF4D;
}

.foot-text {
	align-self: start;
  font-size: 1em;
	font-weight: 100;
  color: #F5DF4D;
}

.foot-title a,
.foot-text a {
  text-decoration: none;
  color: #F5DF4D;
}