
body {
	color: black;
	font-size: 16px;
	background: url("../img/fd.jpg") round;
	font-family: 'Syne', sans-serif;
}

li {
	text-decoration: none;
}

footer {
	background: red;
	float: bottom;
}

/**HEADER**/
#header-nav {
	background-image: url("fondo.jpg");
}

#nav-list {
	font-size: 1.25em; 
}

#phone {
	font-size: 1.25em;
}

.navbar-brand {
	padding-top: 0;
	padding-bottom: 0;
}

.navbar-brand h1 {
	color: gold;
	font-size: 2em;
	text-transform: uppercase;
	font-weight: bold;
	text-shadow: 3px 3px 3px #222;
	margin-top: 0;
	margin-bottom: 0;
	line-height: .75;
}

.navbar-brand a {
	text-decoration: none;
}

@media (min-width: 576px)  {
	#phone {
		margin-bottom: 3px;
	}
}

/**CONTENT**/
div  a {
	text-decoration: none;
	color: black;
}
div p {
	margin-bottom: 3px;
}